NEXT_PUBLIC_API_ENDPOINT=http://localhost:8000/

NEXT_PUBLIC_KEYCLOAK_URL=https://auth.simple-agri-data.de/
NEXT_PUBLIC_KEYCLOAK_REALM=SimpleAgriData
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=stallkarte

NEXT_PUBLIC_VERSION=Development
