APP_VERSION=development
APP_GIT_VERSION=unknown

KEYCLOAK_URL=https://auth.simple-agri-data.de/
KEYCLOAK_REALM=SimpleAgriData
KEYCLOAK_CLIENT_ID=stallkarte

DATABASE_URL=postgresql://siad:secret@localhost:5432/siad_stallkarte_dev
SERVER_CORS_ALLOW_ORIGINS=["http://localhost:3000"]

STALLKARTE_TEMPLATE_FILE=res/stallkarte_template.xlsx
STALLKARTE_TEMPLATE_FILE_DEFAULT_WORKSHEET="Stallkarte TEMPLATE"
